ul {

    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

    background-color: rgb(7, 7, 7);

  }

 

  li {

    float: left;

  }

 

  li a {

    display: block;

    color: white;

    text-align: center;

    padding: 14px 16px;

    text-decoration: none;

  }

 

  li a:hover:not(.active) {

    background-color: rgb(134, 222, 228);

  }

 

  .active {

    background-color: #0caae9;

  }
  .footer {
    padding: 20px 20px;
   
  }
  